# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
.test-dist
out
build
dist
*.tsbuildinfo
data/external/*
!data/external/README.md
!data/external/.gitkeep
data/callcallum.db
data/callcallum.db.*

# Env & secrets
.env
.env.local
.env.*.local
vercel.env
supabas.md
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.vercel
data/mvp.db
data/recordings/*
data/models/*
!data/recordings/.gitkeep
